{% extends 'base.html' %}

<head>
    {% load static %}   
    
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Stack Tree Main</title>
    {% endblock %}
</head>

{% block content %}

    <div class="upper">
        <img class="main_upper" src="{% static 'img/Group 358.png' %}">
        <div class="icon">
            <img class="left" src="{% static 'img/Group 359.png' %}">
            <img class="right" src="{% static 'img/Group 357.png' %}">
        </div>
    </div>
    

    
        

{% endblock %}
