{% extends 'base.html' %}

<head>
    {% load static %}   
    
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% endblock %}
</head>

{% block content %}

    <div class="contents">
        <div class="top-section">
            <img class="pic_1" src="{% static 'img/personal_card_3x.png' %}" alt="">
            <div class="top-right-section">
                <div class="banner-text">
                    수집한 스킬카드
                </div>
                <img src="{% static 'img/personal_collected_language_3x.png' %}" alt="" class="collect-card">
            </div>
        </div>

        <div class="bottom-section">
            <img src="{% static 'img/personal_tree_banner_3x.png' %}" alt="" class="pic_3">
            <img src="{% static 'img/personal_info_frontend_3x.png' %}" alt="" class="pic_4">
            <img src="{% static 'img/personal_tree_1_3x.png' %}" alt="" class="pic_5">
            <img src="{% static 'img/personal_tree_2_3x.png' %}" alt="" class="pic_6">
        </div>
    </div>

{% endblock %}