{% extends 'base.html' %}

<head>
    {% load static %}   
    
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/position_detail.css' %}">
    <title>Login</title>
    {% endblock %}
</head>

{% block content %}
<div class="contents">
    <img class="title", src="{% static 'img/title.png' %}">
    <img class="language_explain_title", src="{% static 'img/language explain title.png' %}">
    <img class="python_explain", src="{% static 'img/python_explain.png' %}">
    <img class="syntax_title", src="{% static 'img/syntax_title.png' %}">
    <img class="syntax_list", src="{% static 'img/syntax_list.png' %}">
    <img class="learning_title", src="{% static 'img/learning title.png' %}">
    <img class="apply1", src="{% static 'img/apply 1.png' %}">
    <img class="apply2", src="{% static 'img/apply 2.png' %}">
    <img class="apply_title", src="{% static 'img/apply title.png' %}">
    <img class="to_learn", src="{% static 'img/to_learn.png' %}">

</div>
    
    
{% endblock %}