{% extends 'base.html' %}

<head>
    {% load static %}   
    
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
    {% endblock %}
</head>

{% block content %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <h1 class="login-head">LOGIN</h1>

        <div class="login-input">
            <input name="username" type="text" placeholder="아이디(이메일)">
            <img src="{% static 'img/ico_login_username_white.png' %}">
        </div>
        <div class="login-input">
            <input name="passward" type="password" placeholder="비밀번호">
            <img src="{% static 'img/ico_login_password_white.png' %}">
        </div>

        <span class="login-caution-message">
            <img class="ico-caution" src="{% static 'img/ico_login_caution.png' %}">
            비밀번호가 일치하지 않습니다.
        </span>

        
        <button type="submit" name="df" value="로그인"><img src="{% static 'img/btn_login.png' %}" alt="Login"></button>
        
        <p class="login-other-msg">다른 계정으로 로그인 하기</p>
        
        <div class="login-other-method-btns">
            <img src="{% static 'img/btn_login_google.png' %}" class="btn-other-method">
            <img src="{% static 'img/btn_login_kakao.png' %}" class="btn-other-method">
            <img src="{% static 'img/btn_login_github.png' %}" class="btn-other-method">
        </div>

        <p class="login-other-msg">or</p>

        <div class="other-case">
            <span class="login-other-case-p">
                <a class="login-other-case-link" href="">회원가입</a>하고 캐릭터 생성 | 
                <a class="login-other-case-link" href="">비밀번호를 잊으셨나요?</a>
            </span>
        </div>
        
    </form>

{% endblock %}