/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'IBM-Plex-Sans-Bold';
    src: url('../font/IBMPlexSansKR-Bold.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-SemiBold';
    src: url('../font/IBMPlexSansKR-SemiBold.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-ExtraLight';
    src: url('../font/IBMPlexSansKR-ExtraLight.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Light';
    src: url('../font/IBMPlexSansKR-Light.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Medium';
    src: url('../font/IBMPlexSansKR-Medium.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Regular';
    src: url('../font/IBMPlexSansKR-Regular.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Text';
    src: url('../font/IBMPlexSansKR-Text.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Thin';
    src: url('../font/IBMPlexSansKR-Thin.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Black';
    src: url('../font/NotoSansKR-Black.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Bold';
    src: url('../font/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Light';
    src: url('../font/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Medium';
    src: url('../font/NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Regular';
    src: url('../font/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Thin';
    src: url('../font/NotoSansKR-Thin.otf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
html,body {
    height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.banner{
    text-align:center;
}

.banner_img {
    width:1342px;
    height:364px;
    border-radius: 0px 0px 20px 20px;  
    background-color:#343434;
    position:relative;
    left:380px;
}

.comment{
    font-size:36px;
    font-family:IBM-Plex-Sans-Bold ;
    color:#ffffff;
    position: absolute;
    top:113px;
    left:800px;
}

.line{
    border-top:solid #ffffff 1px;
    border-bottom:solid #ffffff 1px;
    width:150px;
    height:56px;
    position: absolute;
    left:850px;
    top:260px;

}

.small_comment{
    font-size:18px;
    font-family: 'Noto-Sans-KR-Medium';
    position:absolute;
    top:275px;
    left:850px;
    color:#ffffff;

}
.small_title{
    color:#269f71;
    font-family: IBM-Plex-Sans-Bold;
    margin-left: 699px;
    margin-top: 24px;
    font-size: 15px;
}

.title{
    color:#343434;
    font-family: IBM-Plex-Sans-Bold;
    font-size:27px;
    margin-left: 699px;
}



.search{
    display: flex;
    border:solid linear-gradient(96deg, #00a355 40%, #e5c71b 68%);
    border-radius: 23.5px;
    width:884px;
    height:47px;
    margin-top: 17px;
    margin-left:537px;
}