
@font-face {
    font-family: 'IBM-Plex-Sans-Bold';
    src: url('../font/IBMPlexSansKR-Bold.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-SemiBold';
    src: url('../font/IBMPlexSansKR-SemiBold.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-ExtraLight';
    src: url('../font/IBMPlexSansKR-ExtraLight.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Light';
    src: url('../font/IBMPlexSansKR-Light.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Medium';
    src: url('../font/IBMPlexSansKR-Medium.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Regular';
    src: url('../font/IBMPlexSansKR-Regular.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Text';
    src: url('../font/IBMPlexSansKR-Text.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Thin';
    src: url('../font/IBMPlexSansKR-Thin.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Black';
    src: url('../font/NotoSansKR-Black.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Bold';
    src: url('../font/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Light';
    src: url('../font/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Medium';
    src: url('../font/NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Regular';
    src: url('../font/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Thin';
    src: url('../font/NotoSansKR-Thin.otf');
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
html,body {
    height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.result-area{
    display: flex;
    flex-direction: column;
    padding-left: 24%;
    padding-right: 24%;
}

.search-bar-wrapper{
    width: 88%;
    height: 42px;
    position: relative;
    margin-top: 40px;
    padding-bottom: 4px;
}

.ico-result-search{
    width: 33px;
    height: 36px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.keyword-tag-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 18px;
}

.keyword-tag{
    font-size: 17px;
    font-family: IBM-Plex-Sans-Light;
}

.search-bar-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    border:none;
    border-right:0px;
    border-top:0px;
    border-left:0px;
    border-bottom:0px;

    background: transparent;

    font-family: Noto-Sans-KR-Light;
    font-size: 20px;

    width: 90%;
    height: 100%;

    padding: 0px 0px 3px 50px;

    border: double 1px transparent;
    border-radius: 40px;
    background-image: linear-gradient(white, white), 
                      linear-gradient(99deg, #269f71 33%, #e5c71b 70%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}