{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>ST</title>
</head>
<body>
    <nav>
        <div class="nav">
            <div class="navs navitem1"><button>스킬트리검색</button></div>
            <div class="navs navitem1"><button>로그인</button></div>
            <div class="navs navitem1"><button>캐릭터 생성(회원가입)</button></div>
            <div class="navs logo">스택트리 사진 들어가야함</div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer>

    </footer>
</body>
</html>