{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    <nav class="navbar">

        <img class="nav-logo" src="{% static 'img/nav_stack_tree_logo_x2.png' %}" alt="">

        <ul class="nav-not-login-menu" >
            <li><a class="nav-menu-item" href="">스킬트리검색</a></li>
            <li><a class="nav-menu-item" href="">로그인</a></li>
            <li><a class="nav-menu-item" href="">캐릭터 생성(회원가입)</a></li>
        </ul>

    </nav>

    {% block content %}

    {% endblock %}

    <footer>

    </footer>
</body>
</html>