{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    <div id="body-wrapper">
        <div id="body-content">
            <nav class="navbar">
                {% if user.is_authenticated %}
                <a href="{% url 'main' %}"><img class="nav-logo" src="{% static 'img/nav_stack_tree_logo_x2.png' %}" alt=""></a>
        
                <ul class="nav-not-login-menu" >
                    <li><a class="nav-menu-item" href="{% url 'result' %}">스킬트리검색</a></li>
                    <li><a class="nav-menu-item" href="{% url 'logout' %}">로그아웃</a></li>
                    <li><a class="nav-menu-item" href="{% url 'signup' %}">캐릭터 생성(회원가입)</a></li>
                </ul>

                {% else %}
                <a href="{% url 'main' %}"><img class="nav-logo" src="{% static 'img/nav_stack_tree_logo_x2.png' %}" alt=""></a>
        
                <ul class="nav-not-login-menu" >
                    <li><a class="nav-menu-item" href="{% url 'result' %}">스킬트리검색</a></li>
                    <li><a class="nav-menu-item" href="{% url 'login' %}">로그인</a></li>
                    <li><a class="nav-menu-item" href="{% url 'signup' %}">캐릭터 생성(회원가입)</a></li>
                </ul>

            {% endif %}            
            </nav>
        
            {% block content %}
            {% endblock %}

        </div>
    
        <footer class="footer">
            <a class="footer-copyright">Copyright@ Team STACKTREE</a>
            <ul class="footer-rightside">
                <li><a class="footer-item" href="">이용약관</a></li>
                <li class="footer-item"> | </li>
                <li><a class="footer-item" href="">개인정보보호정책</a></li>
                <li class="footer-item"> | </li>
                <li><a class="footer-item" href="">stacktree소개 </a></li>
            </ul>
        </footer>

    </div>
    
</body>
</html>