@font-face {
    font-family: 'IBM-Plex-Sans-Bold';
    src: url('../font/IBMPlexSansKR-Bold.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-SemiBold';
    src: url('../font/IBMPlexSansKR-SemiBold.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-ExtraLight';
    src: url('../font/IBMPlexSansKR-ExtraLight.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Light';
    src: url('../font/IBMPlexSansKR-Light.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Medium';
    src: url('../font/IBMPlexSansKR-Medium.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Regular';
    src: url('../font/IBMPlexSansKR-Regular.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Text';
    src: url('../font/IBMPlexSansKR-Text.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Thin';
    src: url('../font/IBMPlexSansKR-Thin.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Black';
    src: url('../font/NotoSansKR-Black.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Bold';
    src: url('../font/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Light';
    src: url('../font/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Medium';
    src: url('../font/NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Regular';
    src: url('../font/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Thin';
    src: url('../font/NotoSansKR-Thin.otf');
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 394px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: auto;
}

h1 {
    font-family: IBM-Plex-Sans-Bold;
    font-size: 62px;
    color : #269F71;
}

a {
    text-decoration: none;
}

input {
    border:none;
    border-right:0px;
    border-top:0px;
    border-left:0px;
    border-bottom:0px;

    background: transparent;

    font-family: Noto-Sans-KR-Regular;
    font-size: 18px;
    color: #269F71;

    width: 368px;
    height: 23px;
}

.login-other-case-link {
    font-family: Noto-Sans-KR-Bold;
    font-size: 14px;
    color: #269F71;
}

.login-other-case-p {
    font-family: Noto-Sans-KR-Medium;
    font-size: 14px;
    color: #343434;
}

.login-head {
    margin-top: 20px ;
    margin-bottom: 65px;
}

.ico-login-username {
    width: 23px;
    height: 23px;
}

.ico-login-password {
    width: 17px;
    height: 27px;
    padding-left: 3px;
    padding-right: 3px;
}

.login-input {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    width: 390px;
}

input::placeholder{
    font-family: Noto-Sans-KR-Regular;
    font-size: 18px;
    color: #d9d9d9;
}

input:focus { 
    outline: none;
}

.btn-login {
    margin-top: 50px;
    border: none;
    background: transparent;
}

.btn-login-img {
    width: 255px;
}

.login-input-line {
    width: 390px;
    height: 1px;
    background: #D9D9D9;
    border-style:none;
}

.login-other-method-btns {
    display: flex;
    width: 255px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.btn-other-method {
    width: 85px;
    height: 85px;
}

.ico-caution {
    width: 19px;
    height: 19px;
}

.login-caution-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 390px;
}

.msg-caution {
    color: #B52257;
    font-family: Noto-Sans-KR-Medium;
    font-size: 12px;
    padding-bottom: 2px;
    padding-left: 5px;
}

.login-other-msg{
    font-family: Noto-Sans-KR-Medium;
    font-size: 12px;
    color: #343434;
    margin-top: 20px;
}

.other-case {
    margin-top: 35px;
}

.password {
    float: right;
}