@font-face {
    font-family: 'IBM-Plex-Sans-Bold';
    src: url('../font/IBMPlexSansKR-Bold.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-SemiBold';
    src: url('../font/IBMPlexSansKR-SemiBold.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-ExtraLight';
    src: url('../font/IBMPlexSansKR-ExtraLight.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Light';
    src: url('../font/IBMPlexSansKR-Light.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Medium';
    src: url('../font/IBMPlexSansKR-Medium.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Regular';
    src: url('../font/IBMPlexSansKR-Regular.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Text';
    src: url('../font/IBMPlexSansKR-Text.otf');
}

@font-face {
    font-family: 'IBM-Plex-Sans-Thin';
    src: url('../font/IBMPlexSansKR-Thin.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Black';
    src: url('../font/NotoSansKR-Black.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Bold';
    src: url('../font/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Light';
    src: url('../font/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Medium';
    src: url('../font/NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Regular';
    src: url('../font/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'Noto-Sans-KR-Thin';
    src: url('../font/NotoSansKR-Thin.otf');
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 394px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: auto;
}

.signup-head {
    width: 385px;
    height: 75px;
    flex-grow: 0;
    margin: 0 0 16px 2px;
    object-fit: contain;
    background-image: linear-gradient(98deg, #269f71 20%, #e5c71b 64%);

    font-family: IBM-Plex-Sans-Bold;
    font-size: 50px;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.choose-button {
    margin-top: 39.8px;
    white-space: nowrap;
}

.title-question {
    display: flex;
    flex-direction: row;
}

.img-signup-subhead {
    width: 276px;
    height: 56px;
}

.choose-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-signup-choosebutton1 {
    width: 128px;
    height: 20px;
}

.btn-signup-choosebutton2 {
    width: 152px;
    height: 20px;
    margin-left: 17px;
}

.btn-signup-choosebutton3{
    width: 70px;
    height: 20px;
    margin-left: 17px;
}

.text-green {
    color: #269F71;
    font-family: Noto-Sans-KR-Bold;
    font-size: 18px;
}

.text-black {
    color: #343434;
    font-family: Noto-Sans-KR-Bold;
    font-size: 18px;
}


.name{
    margin-top: 26px;
    margin-bottom: 8px;
}

.nickname{
    margin-bottom: 8px;
}


h1 {
    font-family: IBM-Plex-Sans-Bold;
    font-size: 30px;
    color : black;
}

.email-caution-message {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 385px;
    text-align: right;
    margin-bottom: 8px;
}

.password-caution-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 385px;
    margin-bottom: 8px;
}

input {
    border:none;
    border-right:0px;
    border-top:0px;
    border-left:0px;
    border-bottom:0px;

    background: transparent;

    font-family: Noto-Sans-KR-Regular;
    font-size: 18px;
    color: #269F71;

    width: 375px;
    height: 35px;
    flex-grow: 0;
    margin: 8px 2px 8px 0;
    padding: 0px 0px 4px 16px;
    border-radius: 40px;
    border: solid 1px #d9d9d9;
    background-color: #fff;
    margin-bottom: 10px;
}


input::placeholder{
    font-family: Noto-Sans-KR-Regular;
    font-size: 15px;
    margin-bottom: 5px;
    color: #d9d9d9;
}

.ico-caution {
    width: 19px;
    height: 19px;
}

.msg-caution {
    color: #B52257;
    font-family: Noto-Sans-KR-Medium;
    font-size: 12px;
    padding-bottom: 2px;
    padding-left: 5px;
}

.password1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

.password2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

.ico-signup-closedeyes {
    width: 21px;
    height: 17px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 340px;
    margin-top: 4px;
}

.ico-signup-opendeyes {
    width: 23px;
    height: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 341px;
    margin-top: 4px;
}

.next-step {
    margin-top: 35px;
    margin-bottom: 70px;
    border: 0;
    outline: 0;
    background-color: white;
}

.btn-signup-nextstep{
    width: 183px;
    height: 45px;
}